body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.App {
  width : 89vw;
  height : 100%;
  position: fixed;
  top: 0;
  left: 2px;
  padding: 30px 60px;
  display: flex;
}

.fullscreen {
  width : 100%;
  height : 90%;
  font-size: 22px;
  border: transparent !important;
  outline: none !important;
  resize: none;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

.Loader {
  align-items: center;
  background: white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
